
body {
    font-family: Helvetica, sans-serif;
    color: #4d5662;
}

.enterprise {
    display: flex;
    justify-content: space-between;
    background-color: #f6f8f9;
    align-items: flex-end;
    border-radius: 6px;
    max-width: 960px;
    margin: 60px auto;
}

.enterprise .info {
    width: 50%;
    padding: 48px 24px;
}

.enterprise .subtitle {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
}

.enterprise .title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
}

.enterprise .description {
    margin-bottom: 20px;
    font-weight: normal;
    color: #8b949b;
}

.enterprise .btn {
    all: unset;
    border: 1px solid #8b949b;
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: bold;
}

.enterprise .btn.btn-primary {
    border-color: #786eff;
    background-color: #786eff;
    color: white;
    margin-right: 12px;
}

.enterprise .img {
    width: 30%;
}