* {
    box-sizing: border-box;
}
html {
    margin: 0;
}

div, section {
    display: flex;
    align-items: center;
}

div {
    max-width: 65vw;
    margin: 0 auto;
    text-align: center;
}

span {
    border: 1px solid black;
    padding: 48px 12px;
}

.notes {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    height: 100%;
}

.week {
    width: 75%;
    flex-wrap: wrap;
}

.notes span {
    text-transform: uppercase;
    width: 100%;
    flex: 1 1 100%;
    padding-bottom: 164px;
}

.week span {
    width: 20%;
}

.special {
    flex-basis: 100%;
}

span:nth-child(8),
span:nth-child(9) {
    flex-basis: 50%;
}