
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Verdana, sans-serif;
}

body {
    background: rgb(238, 238, 238);
    margin: 4em auto;
    /* padding: 2em; */

}

h1,h2,h3 {
    font-family: Georgia, serif;
    /* padding-block: 10px; */
}

img {
    /* max-width: 100%;
    display: block; */
    background: rgb(255, 255, 255);
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

p {
    padding-bottom: 1.5em;
}

blockquote {
    font-family: Georgia, serif;
}

.page {
    display: flex;
    flex-wrap: wrap;
    max-width: 45em;
    margin: 4em auto;
    gap: 4em;
}

.page header {
    flex: 1 1 100%;
    border-bottom: 3px solid gray;
    padding-bottom: 2em;
    text-transform: uppercase;
}
.page main {
    flex: 1 1 65%;
}
.page aside {
    flex: 1 1 25%;
}

.page aside ul {
    padding-left: 2em;
}

img[class*='align'] {
    display: block;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0, 0.2);
}

.align-right{ 
    float: right;
    margin: 0 0  1em 1em;
}

.align-left {
    float: left;
    margin: 0 1em 1em 0;
}