
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

section {
    
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 70vw;
    gap: 40px;
    margin: 50px auto;

}

article {
    max-width: 12vw;
}

